<% let news = paginatedNews.data %>
<% news.forEach(newsItem => { %>
    
<div class="post-content">
    <div class="row">
    <div class="col-md-4">
            <a class="post-img" href="/single/<%= newsItem._id %>">
            <img src="<%= newsItem.image ? '/uploads/' + newsItem.image : '/images/placeholder.png' %>" alt="">
        </a>
    </div>
    <div class="col-md-8">
        <div class="inner-content clearfix">
            <h3><a href='/single/<%= newsItem._id %>'><%= newsItem.title %></a></h3>
            <div class="post-information">
            <span>
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a href='/category/<%= newsItem.category.slug %>'><%= newsItem.category.name %></a>
            </span>
            <span>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href='/author/<%= newsItem.author.id %>'><%= newsItem.author.fullname %></a>
            </span>
            <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit' }).format(new Date(newsItem.timestamps)) %>
            </span>
            </div>
            <p class="description">
                <%= newsItem.content.substring(0, 30) + '...' %>
            </p>
            <a class='read-more pull-right' href='/single/<%= newsItem._id %>'>read more</a>
        </div>
    </div>
    </div>
</div>
<% }); %>

<%
    function buildQueryString(query, page) {
        const params = new URLSearchParams(query);
        params.set('page', page);
        return '?' + params.toString();
    }
%>

<nav>
    <ul class="pagination">

        <!-- Previous button -->
        <li class="page-item <%= paginatedNews.hasPrevPage ? '' : 'disabled' %>">
            <a class="page-link"
               href="<%= paginatedNews.hasPrevPage ? buildQueryString(query, paginatedNews.page - 1) : '#' %>">
                Previous
            </a>
        </li>

        <!-- Page numbers -->
        <% for (let i = 1; i <= paginatedNews.totalPages; i++) { %>
            <li class="page-item <%= i === paginatedNews.page ? 'active' : '' %>">
                <a class="page-link" href="<%= buildQueryString(query, i) %>"><%= i %></a>
            </li>
        <% } %>

        <!-- Next button -->
        <li class="page-item <%= paginatedNews.hasNextPage ? '' : 'disabled' %>">
            <a class="page-link"
               href="<%= paginatedNews.hasNextPage ? buildQueryString(query, paginatedNews.page + 1) : '#' %>">
                Next
            </a>
        </li>

    </ul>
</nav>
